
<div class="pageContentReadableBackground">

<div class="pageTitle pageContent textShadow">FGF - Fibroblast Growth Factor</div>

<div style="text-align: center;"><img style="border: dashed 0px indigo;" src="images/fgf/laminine.png" /></div>

	<p class="pageContentText">
		Fibroblasts are a type of stem cell that is responsible for helping to create connective tissues. A fibroblast growth factor is a special type of protein that was first found to influence the activity and differentiation of fibroblasts. It has since been discovered that these same regulatory proteins can be found acting on other cells as well. Various types of fibroblast growth factor are instrumental during embryonic development but are also active in the adult. These growth factors may be useful in treating some disorders such as autism.  Fibroblast Growth Facor is not available in foods.  We must take supplements to acquire it.
	</p>

	<p class="pageContentText">
		The activities that the fibroblast growth factor family was first named for include stimulating fibroblasts to go through mitosis, thus replicating more frequently, and causing fibroblasts to differentiate into specific mature cell types. The mature cells excrete substances used to build the extracellular matrix such as collagen, glycoproteins, and different types of fibers. When a wound occurs, fibroblast growth factors are responsible for signaling fibroblasts to migrate to the area, replicating themselves at a higher rate, and secreting the ground substances and fibers needed to repair the damage.
	</p>

	<p class="pageContentText">
		The activities attributed to each type of fibroblast growth factor have expanded greatly, however. They are now known to have similar influence on many other cells including the following: endothelial cells, which form the lining of the circulatory system; chondrocytes, which build cartilage; and smooth muscle cells, which make up the walls of many internal organs. Fibroblast growth factors are also now known to have other functions in addition to stimulating mitosis and differentiation such as extending the life of individual neurons and inducing migration of astrocytes, i.e., star shaped cells in the central nervous system.

	</p>
	<p class="pageContentText">
		Several types of fibroblast growth factor are being tested as potential treatments for health conditions. One growth factor is being investigated for use in autism and may be helpful in schizophrenia because it induces mitosis in cerebral cortical cells. Another is being tested in healing the damage caused by coronary heart disease because of its influence on endothelial cells. A third fibroblast growth factor is being used in experiments into the possible causes of estrogen-dependent breast tumors developing a resistance to antiestrogen treatments. In scientific evaluations of fibroblast growth factors, they are administered by injection; it is unclear whether they would have much benefit when taken orally in bovine colostrum other than possibly strengthening and healing the lining of the digestive tract.
	</p>

</div>
