<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="stylesheet" href="css/nav.css">
<link rel="stylesheet" href="css/style.css">
<title><MACRO:TITLE></title>


<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script>
$(document).ready(function()
{
	//////////////////////////////////////////////////////////////
	//
	// Assign nav click handlers
	//
	$(".menuItem").click(function()
		{
			window.location = "?page=" + this.id;
	});

	$(".menuItem").removeClass("active");
	$("#<MACRO:PAGE>").addClass("active");
});
</script>
</head>
<body>

	<header>
    <nav>
      <ul class="nav">
        <li id="welcome" class="menuItem"><a><span>Welcome</span></a></li>
        <li id="healing" class="menuItem"><a>Healing</a></li>
        <li id="videos" class="menuItem"><a>Videos</a></li>
        <li id="fgf" class="menuItem"><a>FGF</a></li>
        <li id="aminoacids" class="menuItem"><a>Amino Acids</a></li>
        <li id="opportunity" class="menuItem"><a>Opportunity</a></li>
        <li id="studies" class="menuItem"><a>Studies</a></li>
        <li id="products" class="menuItem"><a>Products</a></li>
      </ul>
    </nav>
	</header>

	<section class="pageContent">

		<MACRO:MAINCONTENT>

	</section>

	<footer>
		<div class="disclaimer textShadow">
This is an Independent Lifepharm Global&copy; Consultant Website and NOT a Company website. All information and opinions expressed on this site are that of the consultant and not endorsed by the company. No income is guaranteed or implied as an Independent Consultant. Laminine&reg; is not intended to prevent or cure any disease, illness, or condition. If you have concerns please consult your physician. Laminine&reg; is a Registered Trademark of Lifepharm Global &copy;
		<div>

	</footer>



</body>
</html>
