<style>

	.statement {
		font-weight:bold;
		margin-left:150px;
	}

</style>
<div class="pageContentReadableBackground">

	<div class="pageTitle pageContent textShadow">OPPORTUNITY</div>

	<div style="color:rgb(235, 225, 225); font-size:27pt;" class="statement textShadow">LIBERATE YOUR BODY</div>
	<div style="padding-bottom:50px; padding-left:330px; color:rgb(0, 255, 33); font-size:20pt;" class="statement textShadow">FREE YOUR MIND</div>
	

	<div style="text-align: center;">
		<iframe width="560" height="315" src="//www.youtube.com/embed/jGR9sDqylOI" frameborder="0" allowfullscreen></iframe>
	</div>

	<div style="padding-top:50px; color:rgb(235, 225, 225); font-size:27pt;" class="statement textShadow">Decide your own future,</div>
	<div style="padding-bottom:50px; padding-left:330px; color:rgb(0, 255, 33); font-size:20pt;" class="statement textShadow">Get paid what <i>YOU</i> are worth!</div>

</div>
