<div class="pageContentReadableBackground">

	<div class="pageTitle pageContent textShadow">Products</div>

	<div style="text-align: center;">
		<img style="border: dashed 0px indigo;" src="images/fgf/laminine.png" />
	</div>

	<div style="text-align:center; width:400px; position:relative; margin:0 auto; padding:5px; background-color:#808080; border:solid 6px rgb(255,255,255);">
		<div style="float:left; position:relative; top:-50px; left:190px;"><img src="images/pin.png" /></div>
		<span style="font-weight:bold; font-size:18pt;" class="textShadow">Say Yes To Perfect Health</span>
	</div>
	<br /><br />

	<div style="text-align: center;">
		<iframe width="480" height="390" src="//www.youtube.com/embed/_6S7ceD_pzo?feature=player_embedded" frameborder="0" allowfullscreen></iframe>

		<iframe width="480" height="390" src="//www.youtube.com/embed/ESq7YDLPYfA?feature=player_embedded" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
