<style>
	.statement {
		font-weight: bold;
	}

	div {
		border: dashed 0px yellow;
	}
</style>

<div style="height:1350px;" class="pageContentReadableBackground">

	<div class="pageTitle pageContent textShadow">GetTotalBalance.com</div>

	<div style="top:0px; left:100px; width:600px; white-space:nowrap; overflow:hidden; position:relative; z-index:1100; color: rgb(235, 225, 225); font-size: 27pt;" class="statement textShadow">LIBERATE YOUR BODY</div>
	<div style="top: -20px; left: 400px; width:400px; text-align:right; position: relative; z-index:100; color: rgb(0, 255, 33); font-size: 20pt;" class="statement textShadow">FREE YOUR MIND</div>

	<div style="top: -30px; left: 50px; position: relative; width:300px; z-index:1000;">
		<img src="images/welcome/tree.png" /></div>
	<div style="top: -160px; left: 490px; position: relative; width:410px; z-index:100;">
		<img src="images/welcome/best_years.png" /></div>
	<div style="top: -370px; left: 140px; position: relative; width:350px; z-index:1001;">
		<img src="images/welcome/leap.png" /></div>
	<div style="top: -450px; left: 530px; position: relative; width:350px; z-index:100; color: rgb(0, 255, 33); font-size: 20pt; text-align: center;" class="statement textShadow">LIFE IS BETTER WHEN<br />
		YOU ARE WELL</div>
	<div style="top: -505px; left: 50px; position: relative; width:300px; z-index:1002;">
		<img src="images/welcome/laminine.jpg" /></div>
	<div style="top: -660px; left: 490px; position: relative; width:350px; text-align:center; background-color: #B43000; padding: 10px 25px 10px 25px;">
		<p style="font-size: 16pt; font-weight: bold;" class="textShadow"><i>Say Yes To Perfect Health</i><br>
		</p>
		<p class="textShadow">- Maintain Healthy Cortisol Levels -<br>
		</p>
		<p class="textShadow">- Regulate Serotonin Levels -<br>
		</p>
		<p class="textShadow">- Reduce Physical &amp; Mental Stress -<br>
		</p>
		<p class="textShadow">- Promote Restful Sleep -<br>
		</p>
		<p class="textShadow">- Build Collagen For Healthy Skin -<br>
		</p>
		<p class="textShadow">- Reduce Signs of Aging -<br>
		</p>
		<p class="textShadow">- Enhance Muscle Tone &amp; Strength -<br>
		</p>
		<p class="textShadow">- Improve Stamina &amp; Energy -<br>
		</p>
		<p class="textShadow">- Increase Alertness -<br>
		</p>
		<p class="textShadow">- Aid Brain Function &amp; Activity -<br>
		</p>
		<p class="textShadow">- Moderate Stress Response -<br>
		</p>
		<p class="textShadow">- Stimulate DHEA Production -<br>
		</p>
		<p class="textShadow">- Improve Emotional Balance -<br>
		</p>
		<p class="textShadow">- Promote Workout Recovery -<br>
		</p>
		<p style="" class="textShadow">- Increase Libido &amp; Sexual Desire -</p>
	</div>
	<div style="top: -1170px; left: 150px; position: relative; width:350px; z-index: 1003;">
		<img src="images/welcome/leap_2.png" /></div>
	<div style="top: -1140px; left: 80px; position: relative; width:400px; color: rgb(0, 255, 33); font-size: 20pt;" class="statement textShadow">If at any moment you could<br />
		simply choose to <i>Feel Better</i>...<br />
		Would you?</div>

</div>
